# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
dist/
*.js.map
*.d.ts

# Local AWS credentials (if any)
.aws/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log
logs/
*.log.*

# Environment files
.env
.env.local
.env.*.local

# IDE/Editor-specific files
.idea/
.vscode/
*.swp

# Archives
*.zip
